
<header class="header bg-primary-for-navbar py-2" id="header">
    <div class="container-fluid d-flex justify-content-between align-items-center ps-0">
          
        <div class="d-flex align-items-center">
         <!-- Left Side: Logo and Title -->
             <div class="d-flex justify-content-start logo-wrapper align-items-center mx-2" id="logo-wrapper">
                <div>
                    <img src="upload/systemLogo.jpg" alt="Logo" class="logo" />
                </div>
                <h5 class="mb-0 fw-bold text-white ms-4">CopeBeta</h5>
             </div>
         
            
             <!-- <div class="text-center">
                 <h5 class="mb-0 text-white">Staff Dashboard</h5>
             </div> -->
         </div>   
       
   
       <!-- Right Side: Notifications and Button -->
       <ul class="header-nav d-flex align-items-center pe-4 mb-0">
            <li class="list-item">
                <a href="/announcement" class="nav-link fs-4 text-white">
                    <i class="fa-duotone fa-solid fa-envelope-open-text"></i>
                </a>
            </li>
            
            <li class="list-item">
                <a href="/notification" class="nav-link fs-4 text-white">
                    <i class="fa-duotone fa-solid fa-bell"></i>
                    
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="nav-link link-scan fs-4">
                    <i class="fa-solid fa-qrcode"></i> 
                    
                </a>
            </li>
            
       </ul>
     </div>
</header>