
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admindashboard" class="text-secondary text-decoration-none">Home</a></li>
                <li class="breadcrumb-item active text-primary" aria-current="page">Announcement</li>
            </ol>
            </nav>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mt-3">
            <div>
                <h4 class=" text-gray-600 mb-2">Announcement</h4>
                <p class="fs-16 text-gray-500 mb-4">Manage and post company announcements.</p>
            </div>
            <button class="btn btn-primary fs-18" data-bs-toggle="modal" data-bs-target="#createAnnouncement">
                <span><i class="fs-18-bold fa-solid fa-plus me-2"></i></span>New Announcement
            </button>
        </div>
    </div>
    <div class="col-12">
        <div class="date-show text-end mb-4">
            <div class="position-relative">
                <input class="select-month" type="text" id="monthPicker" placeholder="JAN 2025">
                <span class="date-icon"><i class="fa-regular fa-calendar-week"></i></span>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row mb-5">
            <div class="col-1">
                <div class="announce-date text-center">
                    <h4>25</h4>
                    <h4 class="text-primary">JAN</h4>
                </div>
            </div>
            <div class="col-11">
                <div class="important-alert custome-box-shadow">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-block">
                            <p class="text-danger fs-14 mb-2">! Important</p>
                            <p class=" fs-14"><strong>Subject:</strong>  Policy Update: Leave Request Procedure</p>
                        </div>
                        <button type="button" class="btn delete-announcement text-gray-500"><i class="fs-18 fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="announcement-content">
                        <p class="fs-16">The company has updated its leave request procedure. Please refer to the updated policy document for more information.</p>
                        <div class="by-sender d-flex mt-4 p-2 justify-content-between align-items-center">
                            <div class="d-flex">
                                <div class="sender-image">
                                    <img src="assets/img/pf.jpg" alt="sender-image">
                                </div>
                                <div class="d-block ms-3">
                                    <p class="fs-16-bold">Phan Lyhor</p>
                                    <p class="fs-14">HR</p>
                                </div>
                            </div>
                            <div class="time">
                                <p>8:00 AM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row mb-5">
            <div class="col-1">
                <div class="announce-date text-center">
                    <h4>25</h4>
                    <h4 class="text-primary">JAN</h4>
                </div>
            </div>
            <div class="col-11">
                <div class="normal-alert custome-box-shadow">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-block">
                            <p class="text-primary fs-14 mb-2">Low Priority</p>
                            <p class=" fs-14"><strong>Subject:</strong>  Policy Update: Leave Request Procedure</p>
                        </div>
                        <button type="button" class="btn text-gray-500"><i class="fs-18 fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="announcement-content">
                        <p class="fs-16">The company has updated its leave request procedure. Please refer to the updated policy document for more information.</p>
                        <div class="by-sender normal d-flex mt-4 p-2 justify-content-between align-items-center">
                            <div class="d-flex">
                                <div class="sender-image">
                                    <img src="assets/img/pf.jpg" alt="sender-image">
                                </div>
                                <div class="d-block ms-3">
                                    <p class="fs-16-bold">Phan Lyhor</p>
                                    <p class="fs-14">HR</p>
                                </div>
                            </div>
                            <div class="time">
                                <p>8:00 AM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row mb-5">
            <div class="col-1">
                <div class="announce-date text-center">
                    <h4>25</h4>
                    <h4 class="text-primary">JAN</h4>
                </div>
            </div>
            <div class="col-11">
                <div class="normal-alert custome-box-shadow">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-block">
                            <p class="text-primary fs-14 mb-2">Low Priority</p>
                            <p class=" fs-14"><strong>Subject:</strong>  Policy Update: Leave Request Procedure</p>
                        </div>
                        <button type="button" class="btn text-gray-500"><i class="fs-18 fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="announcement-content">
                        <p class="fs-16">The company has updated its leave request procedure. Please refer to the updated policy document for more information.</p>
                        <div class="by-sender normal d-flex mt-4 p-2 justify-content-between align-items-center">
                            <div class="d-flex">
                                <div class="sender-image">
                                    <img src="assets/img/pf.jpg" alt="sender-image">
                                </div>
                                <div class="d-block ms-3">
                                    <p class="fs-16-bold">Phan Lyhor</p>
                                    <p class="fs-14">HR</p>
                                </div>
                            </div>
                            <div class="time">
                                <p>8:00 AM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Create Announcement Modal -->


  <div class="modal fade" id="createAnnouncement" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createAnnouncementLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content p-3 background-color">
        <div class="modal-header">
          <img src="assets/img/pf.jpg" class="announce-pf me-3" alt="">
          <h1 class="modal-title fs-5" id="createAnnouncementLabel">Create New Announcement</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

             <!-- alert after post announcement button click -->

            <div class="alert-show d-flex justify-content-end">
                <div id="liveAlertPlaceholder" class="alert-post"></div>
            </div>

            <div class="create-content custome-box-shadow p-5">
                <div class="mb-4 d-flex align-items-center">
                    <label for="subject" class="form-label">Subject:</label>
                    <input type="text" class="form-control ms-3">
                </div>
                <div class="mb-4 d-flex">
                    <p class="text-gray-600">Priority:</p>
                    <div class="d-flex gap-3 ms-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusPending" value="Pending">
                            <label class="form-check-label" for="statusPending">! Important</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status" id="statusPaid" value="Paid">
                            <label class="form-check-label" for="statusPaid">Low Priority</label>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="announcement-text" class="form-label">Announcement</label>
                    <textarea class="form-control" id="announcement-text" rows="13"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="liveAlertBtn"><i class="fa-sharp-duotone fa-regular fa-paper-plane me-1"></i> Post Announcement</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

 